.items-top-link {
    color: $secondary-color;
    font-family: $p-font;
    font-size: 13px;
    font-weight: 700;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 0.65px;
    padding: 0 20px 0 20px;
    
    &:hover {
        text-decoration: line-through;
    }
}

.items-bottom-link{
    color: $primary-color;
    font-family: $p-font;
    font-size: 13px;
    font-weight: 400;
    line-height: 44px;
    text-transform: uppercase;
    letter-spacing: 0.65px;

    &:hover {
        text-decoration: line-through;
    }
}