h1 {
    font-family: $h1h2-font;
    color: $mark-color;
    font-size: 116px;
    font-weight: 400;
    line-height: 85.6px;
    text-transform: uppercase;
    margin: 0;
}

span.subheading {
    color: $primary-color;
    font-family: $h3-font;
    font-size: 80px;
    font-weight: 400;
    line-height: 160.5px;
}

h2.second-heading {
    font-family: $h1h2-font;
    color: $primary-color;
    font-size: 32px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 3.2px;
    margin: 0;
}

h3.third-heading {
    color: $mark-color;
    font-family: $h3-font;
    font-size: 32px;
    font-weight: 400;
    letter-spacing: 3.2px;
    margin: 5px 0 0 0;
}

.member-name {
    color: $secondary-color;
    font-family: $h1h2-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 20px;
}

.member-genre {
    color: $secondary-color;
    font-family: $p-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 20px;
    padding-left: 20px;
}

h2.section-heading {
    color: $secondary-color;
    font-family: $h1h2-font;
    font-size: 32px;
    font-weight: 500;
    line-height: 50px;
    text-transform: uppercase;
}

p.section-desc {
    color: $secondary-color;
    font-family: $p-font;
    font-size: 22px;
    font-weight: 400;
    line-height: 30px;
}

.cantus {
    color: $secondary-color;
    font-family: $h3-font;
    font-size: 65px;
    font-weight: 400;
    line-height: 30px;
}

.song-item {
    color: $primary-color;
    font-family: $p-font;
    font-size: 16px;
    font-weight: 400;
    line-height: 40px;
}