$primary-color: #333333;
$secondary-color: #ffffff;
$mark-color: #df001f;
$h1h2-font: 'Oswald', sans-serif;
$h3-font: 'Great Vibes', cursive;
$p-font: 'Droid Sans', sans-serif;
$likes-font: 'Open Sans', sans-serif;

